#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app #navbar {
  width: 98vw;
}

#app #content {
  width: 95vw;
  margin: 0;
  padding: 2rem;
  padding-top: 1rem;

  display: flex;
  justify-content: center;
  max-width: 1000px;
  background-color: #19222b;
  border-radius: 0 0 1rem 1rem;
}

ol,
ul {
  padding: 0;
}
