#eventItemPage {
  width: 100%;
}

#eventItemPage ul {
  list-style: none;
  gap: 0;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: 2px;

  padding: 0;
  padding-bottom: 2px;
  border-radius: 0.2rem;

  scroll-snap-type: x mandatory;
}

#eventItemPage li {
  display: inline-block;
  width: 400px;
  aspect-ratio: 1;
  padding: 0;
  scroll-snap-align: start;
}

#eventItemPage img {
  height: 400px;
  aspect-ratio: 1;

  flex: none;
}

#eventItemPage .eventActionContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#eventItemPage .eventActionContainer button {
  width: 10rem;
}

#eventItemPage .rsvpDisplay {
  background-color: red;
  height: 10rem;
  width: 10rem;
}
