#schedulePage {
  width: 100%;
}

#schedulePage ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#schedulePage ol li {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 1rem;
  cursor: pointer;
}

#schedulePage ol li:hover {
  filter: brightness(110%);
}

#schedulePage ol li .eventHeader {
  font-size: 24px;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#schedulePage ol li .eventDate {
  text-decoration: underline;
}

#schedulePage ol li .eventCountdown {
}

#schedulePage ol li .eventContent {
  flex: 1;
  display: flex;
  gap: 1rem;
}

#schedulePage ol li .eventImage {
  flex: 1;
  min-width: 200px;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

#schedulePage ol li .eventImage img {
  width: 100%;
  height: 100%;
}

#schedulePage ol li .eventDetails {
  padding: 0.2rem;
}

#schedulePage ol li .eventDetails a {
  color: rgb(139, 139, 139);
  text-decoration: none;
}

#schedulePage ol li .eventName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}
