.eventsListing {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.eventsListing li {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 1rem;
  cursor: pointer;
}

.eventsListing li:hover {
  filter: brightness(110%);
}

.eventsListing li .eventHeader {
  font-size: 24px;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.eventsListing li .eventDate {
  text-decoration: underline;
}

.eventsListing li .eventContent {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.eventsListing li .eventImage {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.eventsListing li .eventImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eventsListing li .eventDetails {
  flex: 1;
  padding: 0.2rem;
}

.eventsListing li .eventDetails a {
  color: rgb(139, 139, 139);
  text-decoration: none;
  margin-left: 1rem;
}

.eventsListing li .eventName {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}
